<div *ngIf="isOpen()" class="popup-background">
    <div class="popup-container">
        <button class="close-button" (click)="close()">X</button>
        <h2>Encoding-Mappings</h2>
        <div class="encoding-input-row">
            <input type="number" placeholder="ID" [(ngModel)]="inputId">
            <input type="text" placeholder="Attribut" [(ngModel)]="inputAttribute">
            <div class="checkbox-container">
                <input type="checkbox" id="inputIdentityCheckbox" [(ngModel)]="inputIdentity">
                <label for="inputIdentityCheckbox" title="Aktivieren für Identitäts-Mapping">Identität?</label>
            </div>
            <button (click)="addMapping()">Hinzufügen</button>
        </div>

        <div class="popup-content">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Attribut</th>
                        <th>Ist Identität?</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mapping of encodingService.mappings">
                        <td>{{ mapping.id }}</td>
                        <td>{{ mapping.attribute }}</td>
                        <td>{{ mapping.identityMapping }}</td>
                        <td><button (click)="encodingService.removeMapping(mapping.id)">LÖSCHEN</button></td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="encodingService.mappings.length===0">Keine Mappings vorhanden.</p>
        </div>
    </div>
</div>