<h1>Natural Language Query to Graph Code</h1>
<div class="container">
  <div class="left">
    <textarea placeholder="Anfrage formulieren…" [(ngModel)]="query"></textarea>
    <div class="floating-input">
      <input type="text" placeholder="Nutzername" [(ngModel)]="username">
    </div>
    <div class="floating-select">
      <select [(ngModel)]="promptKeywordSelected">
        <option selected value="">Keine Auswahl</option>
        <option *ngFor="let prompt of promptsKeywords" [value]="prompt.key">{{ prompt.key }}</option>
      </select>
      <label class="active">Stichwort-Prompt wählen</label>
      <button class="info-button" (click)="showKeywordPrompts()">?</button>
    </div>
    <div class="floating-select">
      <select [(ngModel)]="promptGCSelected">
        <option selected value="">Keine Auswahl</option>
        <option *ngFor="let prompt of promptsGC" [value]="prompt.key">{{ prompt.key }}</option>
      </select>
      <label class="active">GraphCode-Prompt wählen</label>
      <button class="info-button" (click)="showGCPrompts()">?</button>
    </div>
    <div class="floating-select">
      <select [(ngModel)]="llmSelected">
        <option selected value="">Keine Auswahl</option>
        <option *ngFor="let llm of llms" [value]="llm">{{ llm }}</option>
      </select>
      <label class="active">LLM wählen</label>
    </div>
    <button class="button" (click)="transmitQuery()">Graph-Code generieren</button>
    <textarea class="info-box" placeholder="Beschreibung..." disabled>{{currentGraphCode?.description}}</textarea>

    <button (click)="encodingPopup.open()" class="encoding-button">Encoding-Mappings bearbeiten</button>
  </div>
  <div class="right">
    <div class="matrix-box">
      <graph-code *ngIf="currentGraphCode" [dictionary]="currentGraphCode.dictionary"
        [matrix]="currentGraphCode.matrix" />
    </div>
  </div>
</div>

<div *ngIf="loading">
  <div class="popup-background">
    <div class="loading-container">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
<prompt-pop-up></prompt-pop-up>
<encoding-pop-up></encoding-pop-up>